Django==5.0.4
argon2-cffi==23.1.0
django-cors-headers==4.3.1
django-environ==0.11.2
djangorestframework==3.15.1
# psycopg2-binary==2.9.9
stripe==9.3.0
boto3==1.34.103
django-storages==1.14
django-taggit==5.0.1
django-allauth==0.63.3
dj-rest-auth==4.0.1
django-crispy-forms==2.1
crispy-tailwind==1.0.3
django-ckeditor==6.5.0
django-tailwind==3.8.0
markdown==3.6
gunicorn==22.0.0
whitenoise==6.6.0
channels==4.1.0
django-redis==5.4.0
sqlparse==0.4.4
asgiref==3.7.2
pytz==2024.1
mutagen==1.47.0
django-celery-beat==2.6.0
celery==5.4.0
python-dateutil==2.9.0.post0